# Ignore Python virtual environments
myenv/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore IDE/editor config files
.vscode/
.idea/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log
